/*CSS for size of the logo in the index page*/
img{
    max-width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*General Kenobi image CSS*/
#secondImage{
    max-width: 700px;
    height: 330px;
}
/*Page one image logo*/
#pageOneLogo{
    max-width: 100%;
    height: 110px;
    float: left;
}

/*Setting the font style for the header*/
#headerLogo{
    font-family: 'Roboto', Times, serif;
}

/*CSS for paragraph and links in the index page*/
.index{
    font-family: 'Roboto', Times, serif;
    font-size: 20px;
}

/*CSS of the first button in the first div*/
#button{
    text-align: center;
    color: white;
    font-family: 'Roboto', Times, serif;
    font-size: 20px;
    background-color: rgb(59, 130, 240);
    height: 47px;
    width: 150px;
    border-radius: 12px;
    border-width: 0;
}

/*CSS of the first button in the seventh div*/
#buttonAction{
    text-align: center;
    color: white;
    font-family: 'Roboto', Times, serif;
    font-size: 20px;
    background-color: rgb(59, 130, 240);
    height: 47px;
    width: 150px;
    border-radius: 12px;
    border-width: 3px;
    border-color: white;
}

/*CSS for the html links*/
#htmlLinks{
    font-size: 20px;
    font-family: 'Roboto', Times, serif;
}

a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

#bodyCss{
    color: white;
    font-family: 'Roboto', Times, serif;
    margin: 0;
}

#titleheader{
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

/*I've decided to separate the section in div and added the css in each of the sections*/
.pageOneContainer{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
}

.secondContainerText{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.thirdContainer{
    text-align: center; 
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: flex-start;
}

#thirdContainerText{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin: auto;
}

.fourthContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1500px;
    margin: auto;
}

/*CSS for both box and img class*/
.box img {
    width: 100%;
    height: 300px;
  }

.fifthContainer{
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    width: 1500px;
    margin: auto;
}

.sixthContainer{
    margin-top: 60px;
    color: black;
    background-color: #E5E7EB;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    height: 300px;
    text-align: center;
}

.seventhContainer{
    background-color: #3b82f6;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
    align-items: flex-start;
    height: 160px;
    width: 1200px;
    margin-top: 130px;
    margin-left: 370px;
    margin-right: 170px;
    margin-bottom: 130px;
    border-radius: 12px;
    align-items: center;

}
/*CSS for all the items in the div box*/
.item1-2 {
    flex-basis: 600px;
    align-items: flex-start;
}

.item1-3{
    margin: 10px;
}

.item2-1{
    flex-basis: 600px;
}

.item3{
    flex: 1 0 300px;
    border: 4px solid rgb(59, 148, 248);
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 200px;
}

.item3 img{
    object-fit: fill;
}

.item5-1{
    flex-basis: 600px;
}

.item4{
    flex: 1 0 300px;
    margin: 5px;
    min-height: 50px;
    padding-top:0px ;
    text-align: center;
}
